body {
    background-color: #222;
    color:#fff;
    font-family: Montserrat, sans-serif;
    text-align: center;
}

#app {
    background-color: #111;
    color: #fff;
    padding: 15px;
    border-radius: 20px;
    margin: 20px 10px 10px 10px;
}